@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff;
    opacity: 0.5;
    background-image: radial-gradient(#3A4D81 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}